.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box {
    flex-direction: row;
    flex: 1;
    display: flex;
}

.box1 {
    
    flex: 2;
    display: flex;

}

.box2 {
    flex: 1;
    display: flex;
}